.user-detail-header {
    height: 250px;
    background-color: orange;
    color: white;
    display: flex;
    align-items: flex-end;

    img {
        border-radius: 100%;
        height: 100px;
        width: 100px;
        object-fit: cover;
    }
}

.user-details {
    margin-left: 32px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
        margin-bottom: 0;
    }
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}
